body {
  background-image: url("../images/contact-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  margin-left: 1rem;
}

main .section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 60vh;
}

main .section-container .section-content .contact-us {
  font-size: 2rem;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
}

main .section-container .section-content .contact-method {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

main .section-container .section-content .contact-method a {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  color: #707070;
}

main .section-container .section-content .contact-method a i {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #646464;
}
