body {
   background-image: url("../images/contact-background.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
}

span {
   margin-left: 1rem;
}

main .section-container .section-content .contact-us {
   font-size: 2rem;
   padding-bottom: 1rem;
}

main .section-container .section-content .contact-method {
   margin-top: 5rem;
}

main .section-container .section-content .contact-method a {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-left: 15rem;
   margin-bottom: 1.5rem;
   color: #707070;
}

main .section-container .section-content .contact-method a i {
   margin-right: 1rem;
   font-size: 1.2rem;
   color: #646464;
}