body {
  background-image: url("../images/contact-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

span {
  margin-left: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 80vh;
}

main .section-container .section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

main .section-container .section-content .contact-us {
  font-size: 2rem;
  padding-bottom: 1rem;
}

main .section-container .section-content .contact-method {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

main .section-container .section-content .contact-method a {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  color: #707070;
}

main .section-container .section-content .contact-method a i {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #646464;
}
